.bookinglook{
    height: 50px;
    width:90%;
    background: red;
    color:white;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif
    
    
   
}

.bookinglook:hover{

    background:yellow;
    color: black;
    ;

}